<form id="frm" method="POST" action="/" >
  <textarea name="body" form="frm"></textarea>
  <button type="submit" name="action" value="Submit" >Submit</button>
</form>

<div style="height:300px"><textarea disabled style="height:100%;width:100%;border:none;resize:none">{{result}}</textarea></div>


